

.boldText {
    font-weight: bolder ;
}

.greyText {
    color: #8C91A2
}

.linkStyle {
    color: #0078CD;
    text-decoration: none;
}

.image {
    width: 100%;
    height: auto;
    display: block;
}

.formMargin{
    margin: 90px;
    margin-top: 50px;
}

.btn-outline-darkBlue{
    color: #103559;
    border-color: #103559;
}

.btn-darkBlue{
    background-color: #103559;
    color: white;
}